html {
    height: 100%;
}

/* Color Palette */
:root {
    --color-normal: black;
    --color-bg: white;
    --color-header: lightgreen;
    --color-header-fg: seagreen;
    --color-footer: black;
    --color-footer-fg: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: system-ui;
    background-color: var(--color-bg);

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em;
        background-color: var(--color-header);
        color: var(--color-header-fg);

        a {
            padding: 0 0.25em;
            text-decoration: none;
            color: inherit;
        }

        #headerNavButton {
            /* border: 0;
            background: none; */
            display: none;
        }
    }

    @media screen and (max-width: 300px) {
        header {
            padding: 0 1em;

            h2 {
                font-size: medium;
            }
        }
    }

    @media screen and (max-width: 420px) {
        header {
            nav {
                display: none;
            }

            #headerNavButton {
                display: inline;
            }
        }
    }

    main {
        height: 100%;
    }

    footer {
        margin-top: auto;
        display: flex;
        align-items: center;
        height: 3em;
        gap: 1em;
        padding: 0 1em;
        background-color: var(--color-footer);
        color: var(--color-footer-fg);
    }

    /* Products View */

    #productsRoot {
        display: flex;
        flex-direction: row;

        #productsSidepanel {
            width: 30%;
            background-color: whitesmoke;
        }
        
        #productsItemsView {
            width: 100%;
            max-height: 10%;
            background-color: beige;
            padding: 1em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .productCard {
                background-color: aquamarine;
                width: 12em;
                height: 16em;
            }
        }
    }

    @media screen and (max-width: 300px) {
        #productsRoot {
            flex-direction: column;
        }
    }

    /*  */

    /* Login View */

    #loginForm {
        display: block;
        flex-direction: column;
        padding: 2em;
        gap: 2em;
    }

    /*  */
}