html {
    height: 100%;
}

/* Color Palette */
:root {
    --color-normal: black;
    --color-bg: white;
    --color-header: darkgreen;
    --color-header-fg: yellowgreen;
    --color-footer: black;
    --color-footer-fg: whitesmoke;
    --color-footer-2: silver;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/inter.ttf");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin: 0;
    font-family: "Inter";
    background-color: var(--color-bg);

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        background-color: var(--color-header);
        color: var(--color-header-fg);

        a {
            padding: 0 0.25em;
            text-decoration: none;
            color: inherit;
        }
    }

    @media screen and (max-width: 300px) {
        header {
            padding: 0 1em;

            h2 {
                font-size: medium;
            }
        }
    }

    @media screen and (max-width: 500px) {
        header {
            h2 {
                font-size: medium;
                text-wrap: wrap;
            }
        }
    }

    main {
        display: inline;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 1em;
        background-color: var(--color-footer);
        color: var(--color-footer-fg);

        .toAboutUs {
            color: var(--color-footer-2);
            text-decoration: none;
        }

        #socials {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-footer-fg);

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2em;
                height: 2em;
                text-decoration: none;
                color: inherit;
            }
        }
    }

    /* Home View */

    #homeRoot {

        #homeContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    /* Products View */

    #productsRoot {
        height: 100%;
        padding: 1em;

        #productsFilter {
            padding: 1em;
            background-color: aliceblue;
        }
        
        #productsItemsView {
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
            gap: 1em;
            margin-top: 1em;
            width: 100%;
            box-sizing: border-box;
            background-color: azure;

            .productCard {
                background-color: lightgreen;
                border-radius: 0.5em;
                padding: 1em;
                box-sizing: border-box;

                img {
                    width: 100%;
                    object-fit: cintain;
                }
            }
        }
    }

    /*  */

    /* Login View */

    #loginForm {
        display: block;
        flex-direction: column;
        padding: 2em;
        gap: 2em;
    }

    /*  */
}